.head-text {
    font-weight: 600 !important;
}

.book-btn {
    font-weight: 500;
    color: white !important;
    border: 1px solid #2b65f0  !important;
    background-color: #2b65f0 !important;
}

.book-btn:hover {
    background-color: #163aac !important;
    border: 1px solid #163aac !important;
    color: white !important;
}

.features-text {
    font-weight: 600 !important;
}

.key-card {
    border: 1px solid #c2c0c1 !important;
}

.learn {
    background-color: #2b65f0 !important;
    background: #2b65f0 !important;
    border: 1px solid #2b65f0 !important;
}

.learn:hover {
    background-color: #163aac !important;
    border: 1px solid #163aac !important;
    color: white !important;
}

.about-p {
    text-align: justify;
}

.opt-btn {
    background-color: #2b65f0 !important;
    background: #2b65f0 !important;
    border: 1px solid #2b65f0 !important;
}

.opt-btn:hover {
    background-color: #163aac !important;
    border: 1px solid #163aac !important;
    color: white !important;
}

.submit-btn {
    background-color: #2b65f0 !important;
    background: #2b65f0 !important;
    border: 1px solid #2b65f0 !important;
}

.submit-btn:hover {
    background-color: #163aac !important;
    border: 1px solid #163aac !important;
    color: white !important;
}
