.nav {
    border-bottom: 1px solid #c2c0c1;
    background-color: white !important;
}

.menu {
    border: none !important;
    padding-right: 0px !important;
}

.menu-options {
    align-items: center;
    font-weight: 500;
}

.menu-options .nav-link {
    color: black;
}

.menu-options .nav-link:hover {
    color: #2b65f0;
}

.account {
    justify-content: center;
}

.account button {
    font-weight: 500;
    color: #2b65f0 !important;
    border: 1px solid #2b65f0;
}

.account button:hover {
    background-color: #163aac;
    border: 1px solid #163aac;
    color: white !important;
}
